<h2>User info</h2>
  <div>
    <%= image_tag user.get_profile_image(100,100) %>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th>
          <%= user.name %>
        </th>
      </tr>
      <tr>
        <th>introduction</th>
        <th>
          <%= user.introduction %>
        </th>
      </tr>
    </tbody>
  </table>

  <div>
  <% if user == current_user %>
    <%= link_to edit_user_path(user.id) do %>
      <div class="row btn btn-block btn-outline-secondary">
        <i class="fa-solid fa-user-gear"></i>
      </div>
    <% end %>
  <% else %>
    <%= link_to user_path(current_user) do %>
      <div class="row btn btn-block btn-outline-secondary">
        <i class="fa-solid fa-user-gear"></i>
      </div>
    <% end %>
  <% end %>
</div>