<h2>User info</h2>
  <div>
    <%= image_tag user.get_profile_image(100,100) %>
  </div>
  <table>
    <tbody>
      <tr>
        <th>name</th>
        <th>
          <%= user.name %>
        </th>
      </tr>
      <tr>
        <th>introduction</th>
        <th>
          <%= user.introduction %>
        </th>
      </tr>
    </tbody>
  </table>
  
  <div>
  <% if user == current_user %>
    <%= link_to 'user_edit', edit_user_path(user.id) %>
  <% else %>
    <%= link_to 'current_user', user_path(current_user) %>
  <% end %>
</div>