<div class="container">
  <div class="row">
    <div class="px-5 mx-auto">
      <h1>Editing Book</h1>

      <div>
      <% if @book.errors.any? %>
        <div>
          <h3><%= @book.errors.count  %>
            <% if @book.errors.count >= 2 %>
              errors
            <% else %>
              error
            <% end %>
          prohibited this obj from being saved:</h3>
        </div>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      </div>

      <%= form_with model: @book do |f| %>
        <div class="form-group">
          <div><label>Title</label></div>
          <div>
            <%= f.text_field :title, class:'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div><label>Opinion</label></div>
          <div>
            <%= f.text_area :body, class:'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
            <div>Update Book</div>
          <% end %>
          </div>
      <% end %>
      <%= link_to "Show", book_path(@book.id) %>
      |
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>