<div>
  <div>
  <% if @book.errors.any? %>
    <div>
      <h3><%= @book.errors.count  %>
        <% if @book.errors.count >= 2 %>
          errors
        <% else %>
          error
        <% end %>
      prohibited this obj from being saved:</h3>
    </div>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
</div>

<div>
  <%= render 'users/info_edit', user: current_user %>
  <%= render 'newbook' %>
</div>



<div>
  <h2>Books</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to user_path(book.user.id) do %>
            <%= image_tag book.user.get_profile_image(80,80) %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(book.id) do %>
            <%= book.title %>
          <% end %>
        </td>
        <td><%= book.body %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>